.detailImg {
  width: 90%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.2),
    0.125em 0.125em 0.25em rgb(0 0 0 / 25%);
}
.detailsTitle {
  position: relative;
}
.detailsTitle::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  border-radius: 50%;
  width: 35%;
  height: 5px;
  background: crimson;
}
